.theme-toggle {
    display: flex;
    gap: 10px;
    background-color: var(--bg-color);
    color: var(--text-secondary);
    font-size: 18px;
    cursor: pointer;
    font-family: 'Wremena', serif;
    border: none;
}
