.reader {
    background-color: var(--bg-color);
    min-height: 100vh;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.reader__article {
    max-width: 800px;
    width: 100%;
    padding: 40px 60px;
    border-radius: 8px;
    box-shadow: 0 20px 40px var(--shadow-color);
}

.reader__header {
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 30px;
}

.reader__label {
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-color);
    text-transform: uppercase;
    letter-spacing: 2px;
}

.reader__title {
    font-size: 32px;
    line-height: 1.2;
    margin-top: 15px;
    color: var(--text-primary);
}


.reader__content {
    font-size: 20px;
    line-height: 1.7;
    color: var(--text-primary);
    text-align: justify; 
}


.reader__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 40px 0;
    border-top: 1px solid var(--border-color);
}

.reader__btn {
    text-decoration: none;
    color: var(--btn-bg);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.reader__btn:hover {
    background-color: var(--btn-bg-hover);
    color: #f9f7f2;
}

.reader__btn--main {
    border: 1px solid var(--accent-color);
   
}

.reader__comment {
    font-weight: 700;
    padding-bottom: 10px;
}


@media (max-width: 768px) {

    .reader {
        padding: 20px 10px;
    }

    .reader__article {
        padding: 30px 20px;
    }

    .reader__nav {
        flex-direction: column;
        gap: 15px;
    }

    .reader__btn {
        width: 100%;
        text-align: center;
    }

    .reader__title {
        font-size: 26px;
    }

    .reader__content {
        font-size: 18px;
    }
}

.reader__scene {
    font-weight: 700;
    padding-bottom: 30px;
}


.reader__characters {
    font-weight: 700;
    padding-bottom: 30px;
}


.dialogue--name {
    font-weight: 700;
}

.dialogue-remark {
    font-style: italic;
}

.dialogue--main-remark {
    font-weight: 700;
    padding: 25px 0px ;
}