.not-found-page {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    text-align: center;
    padding-bottom: 30px;

}

.not-found-content {
    padding: 20px 40px 60px 40px;
    border-radius: 5px;
    box-shadow: 0 20px 40px var(--shadow-color);
}

.not-found__title {
    font-size: 90px;
    text-align: center;
}

.not-found__women-item,
.not-found__man-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    padding-bottom: 30px;
}

.not-found__women-item img,
.not-found__man-item img{
    max-width: 200px; 
    width: 200px;
    height: auto;
    object-fit: contain;
    opacity: 0.7;
}

.not-found__btn {
    padding: 15px 45px;
    font-family: inherit;
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    color: var(--accent-color);
    transition: transform 0.2s ease;
}

.not-found__btn:hover {
    cursor: pointer;
    color: white;
    background-color: var(--btn-bg-hover);
}

@media (max-width: 768px) {
    .not-found-page {
        height: auto;
        padding: 20px 20px; 
    }

    .not-found-content {
        padding: 20px 20px 50px 20px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0;
    }

    .not-found__title {
        padding-bottom: 30px;
    }

    .not-found__btn {
        display: block;
        width: 100%; 
        font-size: 20px;
        padding: 15px;
        text-align: center;
    }

    .not-found__man-item {
        text-align: left;
    }

    .not-found__women-item {
        text-align: left;
        padding-bottom: 40px;
    }
}